# ***** EXata Configuration File *****


#********************General Settings***********************************

VERSION 17.03
EXPERIMENT-NAME UkraineAttack
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 30M
DUMMY-BASE-DATETIME NONE
SEED 1
GUI-BACKGROUND-IMAGE-FILENAME background.png
MULTI-GUI-INTERFACE NO
GUI-CONFIG-LOCKED NO
DUMMY-GLOBAL-FILTER-ENABLE NO
NUM-NODES 30

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES
WAIT-STATS-ENABLED NO

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#********************Heatmap Settings***********************************

PROP-HEAT-MAP-COLLECTION NO
PROP-HEAT-MAP-CONSIDER-TX-ANTENNA-GAIN YES
PROP-HEAT-MAP-COLLECTION-START-TIME 0S
PROP-HEAT-MAP-COLLECTION-END-TIME 30S
DUMMY-ENABLE-HEAT-MAP-LOCATION-FILE-OPTION NO
PROP-HEAT-MAP-HORIZONTAL-GRANULARITY 100
PROP-HEAT-MAP-VERTICAL-GRANULARITY 10
PROP-HEAT-MAP-MAX-HEIGHT 100
PROP-HEAT-MAP-MAX-DEPTH 0
PROP-HEAT-MAP-MAX-THREADS 4
PROP-HEAT-MAP-BINARY-OUTPUT NO
STATS-DB-HEATMAP-EVENTS-TABLE NO
STATS-DB-HEATMAP-SUMMARY-TABLE NO
STATS-DB-HEATMAP-DESCRIPTION-TABLE NO

#*****************Terrain and Climate***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-NAME[0] channel0
PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000.000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-P533HF-ACTIVE[0] NO
DUMMY-MIMO-PARAMETERS NO

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE
DUMMY-MOBILITY-DYNAMICS NO

#********************Satellite Orbits***********************************

DUMMY-SATELLITE-WAYPOINT-GENERATION-MODE PREDEFINED
MOBILITY-SATELLITE-NODE-FIDELITY 1S
DUMMY-SATELLITE-WAYPOINT-SAME-LATLONG-ORBITS NO

#*********************************GSM***********************************

GSM-TOTAL-NUMBER-OF-CHANNELS 0

#*********************************LTE***********************************

PHY-LTE-PERFORMANCE-MODE 0

#**********************************5G***********************************

PHY-NR-PERFORMANCE-MODE 1
PHY-NR-ENABLE-RECIPIENT-LIST NO
DUMMY-GCM-MATRIX-FILES no

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
MULTICAST-MSDP-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO
PHY-LTE-CA-STATS NO
PHY-NR-CA-STATS NO
5G-NS-STATS NO
HOSTMODEL-STATISTICS NO
PROPAGATION-PDP-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE Attack.app
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#**********************EXSH Interface***********************************

EXSH-ENABLED NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#*******************VR-Link Interface***********************************

VRLINK NO

#****************Command PE Interface***********************************

CPE-INTERFACE NO

#***********************Warm-up Phase***********************************

DUMMY-EXTERNAL-WARM-UP YES
EXTERNAL-WARM-UP-TIME 30S
EXTERNAL-WARM-UP-DROP NO

#PathWave System Design Co-simulation Interface***********************************

SYSTEMVUE-ENGINE-INTERFACE NO

#*******************PROPSIM Interface***********************************

PROPSIM-ATE-INTERFACE NO
isDeviceModelComponent false
DYNAMIC-ENTITY-CREATION NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNELS channel0
PHY-LISTENING-CHANNELS channel0
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-FREQUENCY-BAND 2400000000
PHY802.11-COUNTRY-CODE US
PHY802.11-20MHz-CHANNEL-INDEX 6
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-USE-LEGACY-802.11b NO
PHY802.11-RX-SENSITIVITY-1MBPS -82.0
PHY802.11-RX-SENSITIVITY-2MBPS -80.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -78.0
PHY802.11-RX-SENSITIVITY-11MBPS -76.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-NOISE-TEMPERATURE 290.0
ANTENNA-TILT-ANGLE 0.0
ANTENNA-AXIAL-RATIO 1.0
ANTENNA-POLARIZATION-REFERENCE-AXIS X
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
ANTENNA-ORIENTATION-ROLL 0
ANTENNA-MOUNTING-MODEL FIXED
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ENABLE-METRIC-REPORTING NO
MAC-DOT11-LONG-RANGE-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US
CONFIGURE-MEDIA-TYPE NO

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#******************MSDP Configuration***********************************


#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-NUM-INTERFACES 1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL-IPv4 BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#*******************BGP Configuration***********************************

DUMMY-BGP-ENABLE-ROUTER-ID NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP NEWRENO
TCP-USE-RFC1323 YES
TCP-USE-RFC3042 YES
TCP-USE-RFC3390 YES
TCP-USE-RFC3465 YES
TCP-USE-NAGLE-ALGORITHM YES
TCP-DO-ECN NO
TCP-ECN-MAX-RETRIES 1
TCP-SACK-PERMITTED YES
TCP-MAX-SACK-HOLES 128
TCP-DROP-SYNFIN NO
TCP-DO-INSECURE-RST NO
TCP-DO-INSECURE-SYN NO
TCP-USE-PUSH YES
TCP-TIMER-JITTER YES
TCP-MSS 536
TCP6-MSS 1220
TCP-INITCWND-SEGMENTS 10
TCP-SYNCACHE-HASHSIZE 512
TCP-SYNCACHE-BUCKETLIMIT 30
TCP-SYNCACHE-CACHELIMIT 15360
TCP-DELAY-ACKS YES
TCP-MSL 1MS
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO
DTN-OPERATION-ENABLED NO
EMULATED-FTP-ENABLED YES
EMULATED-HTTP-ENABLED YES
EMULATED-TELNET-ENABLED YES

#***************************LTE Layer***********************************

IS-SGW NO
IS-PGW NO
IS-GNB NO

#*****************************FIVE_GC***********************************


#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************OS Resource Model***********************************

OS-RESOURCE-MODEL NO

#****************Satellite Properties***********************************

DUMMY-IS-SATELLITE-NODE NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO


# ***** Advanced Emulation Data *****



# ***** Virtual Node Data *****

NETWORK-OFFLOAD NO

#********* [Default Wireless Subnet] ***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 1, 6 } LINK-UUID LINK1
[ LINK1/1/0 LINK1/6/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK1/1/0 LINK1/6/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK1/1/0 LINK1/6/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK1/1/0 LINK1/6/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK1/1/0 LINK1/6/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 2, 6 } LINK-UUID LINK2
[ LINK2/2/0 LINK2/6/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK2/2/0 LINK2/6/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK2/2/0 LINK2/6/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK2/2/0 LINK2/6/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK2/2/0 LINK2/6/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 3, 6 } LINK-UUID LINK3
[ LINK3/3/0 LINK3/6/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK3/3/0 LINK3/6/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK3/3/0 LINK3/6/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK3/3/0 LINK3/6/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK3/3/0 LINK3/6/2 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 6, 7 } LINK-UUID LINK6
[ LINK6/6/3 LINK6/7/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK6/6/3 LINK6/7/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK6/6/3 LINK6/7/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK6/6/3 LINK6/7/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK6/6/3 LINK6/7/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 7, 8 } LINK-UUID LINK7
[ LINK7/7/1 LINK7/8/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK7/7/1 LINK7/8/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK7/7/1 LINK7/8/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK7/7/1 LINK7/8/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK7/7/1 LINK7/8/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 9, 8 } LINK-UUID LINK8
[ LINK8/9/0 LINK8/8/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK8/9/0 LINK8/8/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK8/9/0 LINK8/8/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK8/9/0 LINK8/8/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK8/9/0 LINK8/8/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 10, 8 } LINK-UUID LINK9
[ LINK9/10/0 LINK9/8/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK9/10/0 LINK9/8/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK9/10/0 LINK9/8/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK9/10/0 LINK9/8/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK9/10/0 LINK9/8/2 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 11, 8 } LINK-UUID LINK10
[ LINK10/11/0 LINK10/8/3 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK10/11/0 LINK10/8/3 ] LINK-PROPAGATION-DELAY 1MS
[ LINK10/11/0 LINK10/8/3 ] LINK-BANDWIDTH 10000000.000000
[ LINK10/11/0 LINK10/8/3 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK10/11/0 LINK10/8/3 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 12, 8 } LINK-UUID LINK11
[ LINK11/12/0 LINK11/8/4 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK11/12/0 LINK11/8/4 ] LINK-PROPAGATION-DELAY 1MS
[ LINK11/12/0 LINK11/8/4 ] LINK-BANDWIDTH 10000000.000000
[ LINK11/12/0 LINK11/8/4 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK11/12/0 LINK11/8/4 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 13, 8 } LINK-UUID LINK12
[ LINK12/13/0 LINK12/8/5 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK12/13/0 LINK12/8/5 ] LINK-PROPAGATION-DELAY 1MS
[ LINK12/13/0 LINK12/8/5 ] LINK-BANDWIDTH 10000000.000000
[ LINK12/13/0 LINK12/8/5 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK12/13/0 LINK12/8/5 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 13, 14 } LINK-UUID LINK13
[ LINK13/13/1 LINK13/14/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK13/13/1 LINK13/14/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK13/13/1 LINK13/14/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK13/13/1 LINK13/14/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK13/13/1 LINK13/14/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 15, 14 } LINK-UUID LINK14
[ LINK14/15/0 LINK14/14/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK14/15/0 LINK14/14/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK14/15/0 LINK14/14/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK14/15/0 LINK14/14/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK14/15/0 LINK14/14/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 16, 14 } LINK-UUID LINK15
[ LINK15/16/0 LINK15/14/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK15/16/0 LINK15/14/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK15/16/0 LINK15/14/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK15/16/0 LINK15/14/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK15/16/0 LINK15/14/2 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 14, 21 } LINK-UUID LINK18
[ LINK18/14/3 LINK18/21/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK18/14/3 LINK18/21/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK18/14/3 LINK18/21/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK18/14/3 LINK18/21/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK18/14/3 LINK18/21/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.4.0 { 23, 22 } LINK-UUID LINK22
[ LINK22/23/0 LINK22/22/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK22/23/0 LINK22/22/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK22/23/0 LINK22/22/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK22/23/0 LINK22/22/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK22/23/0 LINK22/22/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.4.0 { 24, 22 } LINK-UUID LINK23
[ LINK23/24/0 LINK23/22/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK23/24/0 LINK23/22/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK23/24/0 LINK23/22/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK23/24/0 LINK23/22/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK23/24/0 LINK23/22/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.4.0 { 25, 22 } LINK-UUID LINK24
[ LINK24/25/0 LINK24/22/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK24/25/0 LINK24/22/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK24/25/0 LINK24/22/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK24/25/0 LINK24/22/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK24/25/0 LINK24/22/2 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.4.0 { 26, 22 } LINK-UUID LINK25
[ LINK25/26/0 LINK25/22/3 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK25/26/0 LINK25/22/3 ] LINK-PROPAGATION-DELAY 1MS
[ LINK25/26/0 LINK25/22/3 ] LINK-BANDWIDTH 10000000.000000
[ LINK25/26/0 LINK25/22/3 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK25/26/0 LINK25/22/3 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 14, 28 } LINK-UUID LINK16
[ LINK16/14/4 LINK16/28/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK16/14/4 LINK16/28/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK16/14/4 LINK16/28/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK16/14/4 LINK16/28/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK16/14/4 LINK16/28/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************

[ LINK16/14/4 LINK16/28/0 ] IP-FRAGMENTATION-UNIT 2048

#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 17, 28 } LINK-UUID LINK17
[ LINK17/17/0 LINK17/28/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK17/17/0 LINK17/28/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK17/17/0 LINK17/28/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK17/17/0 LINK17/28/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK17/17/0 LINK17/28/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 18, 28 } LINK-UUID LINK19
[ LINK19/18/0 LINK19/28/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK19/18/0 LINK19/28/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK19/18/0 LINK19/28/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK19/18/0 LINK19/28/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK19/18/0 LINK19/28/2 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 20, 28 } LINK-UUID LINK20
[ LINK20/20/0 LINK20/28/3 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK20/20/0 LINK20/28/3 ] LINK-PROPAGATION-DELAY 1MS
[ LINK20/20/0 LINK20/28/3 ] LINK-BANDWIDTH 10000000.000000
[ LINK20/20/0 LINK20/28/3 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK20/20/0 LINK20/28/3 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 19, 28 } LINK-UUID LINK27
[ LINK27/19/0 LINK27/28/4 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK27/19/0 LINK27/28/4 ] LINK-PROPAGATION-DELAY 1MS
[ LINK27/19/0 LINK27/28/4 ] LINK-BANDWIDTH 10000000.000000
[ LINK27/19/0 LINK27/28/4 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK27/19/0 LINK27/28/4 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 7, 27 } LINK-UUID LINK26
[ LINK26/7/2 LINK26/27/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK26/7/2 LINK26/27/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK26/7/2 LINK26/27/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK26/7/2 LINK26/27/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK26/7/2 LINK26/27/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 31, 27 } LINK-UUID LINK28
[ LINK28/31/0 LINK28/27/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK28/31/0 LINK28/27/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK28/31/0 LINK28/27/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK28/31/0 LINK28/27/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK28/31/0 LINK28/27/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************

[ LINK28/31/0 LINK28/27/1 ] IP-FRAGMENTATION-UNIT 2048

#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 29, 31 } LINK-UUID LINK29
[ LINK29/29/0 LINK29/31/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK29/29/0 LINK29/31/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK29/29/0 LINK29/31/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK29/29/0 LINK29/31/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK29/29/0 LINK29/31/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 30, 31 } LINK-UUID LINK30
[ LINK30/30/0 LINK30/31/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK30/30/0 LINK30/31/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK30/30/0 LINK30/31/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK30/30/0 LINK30/31/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK30/30/0 LINK30/31/2 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 13, 32 } LINK-UUID LINK21
[ LINK21/13/2 LINK21/32/0 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK21/13/2 LINK21/32/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK21/13/2 LINK21/32/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK21/13/2 LINK21/32/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK21/13/2 LINK21/32/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.4.0 { 22, 32 } LINK-UUID LINK31
[ LINK31/22/4 LINK31/32/1 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK31/22/4 LINK31/32/1 ] LINK-PROPAGATION-DELAY 1MS
[ LINK31/22/4 LINK31/32/1 ] LINK-BANDWIDTH 10000000.000000
[ LINK31/22/4 LINK31/32/1 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK31/22/4 LINK31/32/1 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#*************Interface Configuration***********************************

[1] NETWORK-PROTOCOL[0]       IP
[LINK1/1/0] IP-ADDRESS        190.0.1.1

[2] NETWORK-PROTOCOL[0]       IP
[LINK2/2/0] IP-ADDRESS        190.0.1.2

[3] NETWORK-PROTOCOL[0]       IP
[LINK3/3/0] IP-ADDRESS        190.0.1.3

[7] NETWORK-PROTOCOL[0]       IP
[LINK6/7/0] IP-ADDRESS        190.0.1.6

[7] NETWORK-PROTOCOL[1]       IP
[LINK7/7/1] IP-ADDRESS        190.0.2.1

[7] NETWORK-PROTOCOL[2]       IP
[LINK26/7/2] IP-ADDRESS       190.0.5.1

[9] NETWORK-PROTOCOL[0]       IP
[LINK8/9/0] IP-ADDRESS        190.0.2.2

[10] NETWORK-PROTOCOL[0]      IP
[LINK9/10/0] IP-ADDRESS       190.0.2.3

[11] NETWORK-PROTOCOL[0]      IP
[LINK10/11/0] IP-ADDRESS      190.0.2.4

[12] NETWORK-PROTOCOL[0]      IP
[LINK11/12/0] IP-ADDRESS      190.0.2.5

[13] NETWORK-PROTOCOL[0]      IP
[LINK12/13/0] IP-ADDRESS      190.0.2.6

[13] NETWORK-PROTOCOL[1]      IP
[LINK13/13/1] IP-ADDRESS      190.0.3.1

[13] NETWORK-PROTOCOL[2]      IP
[LINK21/13/2] IP-ADDRESS      190.0.6.1

[15] NETWORK-PROTOCOL[0]      IP
[LINK14/15/0] IP-ADDRESS      190.0.3.2

[16] NETWORK-PROTOCOL[0]      IP
[LINK15/16/0] IP-ADDRESS      190.0.3.3

[17] NETWORK-PROTOCOL[0]      IP
[LINK17/17/0] IP-ADDRESS      190.0.3.4

[18] NETWORK-PROTOCOL[0]      IP
[LINK19/18/0] IP-ADDRESS      190.0.3.5

[19] NETWORK-PROTOCOL[0]      IP
[LINK27/19/0] IP-ADDRESS      190.0.3.8

[20] NETWORK-PROTOCOL[0]      IP
[LINK20/20/0] IP-ADDRESS      190.0.3.7

[21] NETWORK-PROTOCOL[0]      IP
[LINK18/21/0] IP-ADDRESS      190.0.3.6

[23] NETWORK-PROTOCOL[0]      IP
[LINK22/23/0] IP-ADDRESS      190.0.4.2

[24] NETWORK-PROTOCOL[0]      IP
[LINK23/24/0] IP-ADDRESS      190.0.4.3

[25] NETWORK-PROTOCOL[0]      IP
[LINK24/25/0] IP-ADDRESS      190.0.4.4

[26] NETWORK-PROTOCOL[0]      IP
[LINK25/26/0] IP-ADDRESS      190.0.4.5

[29] NETWORK-PROTOCOL[0]      IP
[LINK29/29/0] IP-ADDRESS      190.0.5.2

[30] NETWORK-PROTOCOL[0]      IP
[LINK30/30/0] IP-ADDRESS      190.0.5.3

[32] NETWORK-PROTOCOL[0]      IP
[LINK21/32/0] IP-ADDRESS      190.0.6.2

[32] NETWORK-PROTOCOL[1]      IP
[LINK31/32/1] IP-ADDRESS      190.0.4.1

[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] SNAP-ENABLED  YES
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  150000
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] IP-QUEUE-TYPE[1]  FIFO
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] IP-QUEUE-TYPE[0]  FIFO
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] IP-FRAGMENTATION-UNIT  2048
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  150000
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  150000
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] IP-QUEUE-TYPE[2]  FIFO
[LINK1/1/0 LINK2/2/0 LINK3/3/0 LINK6/7/0 LINK7/7/1 LINK26/7/2 LINK8/9/0 LINK9/10/0 LINK10/11/0 LINK11/12/0 LINK12/13/0 LINK13/13/1 LINK21/13/2 LINK14/15/0 LINK15/16/0 LINK17/17/0 LINK19/18/0 LINK27/19/0 LINK20/20/0 LINK18/21/0 LINK22/23/0 LINK23/24/0 LINK24/25/0 LINK25/26/0 LINK29/29/0 LINK30/30/0 LINK21/32/0 LINK31/32/1] LLC-ENABLED  YES


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1 thru 3]      IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 15000000000
[7]             IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 15000000000
[9 thru 13]     IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 15000000000
[15 thru 21]    IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 15000000000
[23 thru 26]    IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 15000000000
[29 30]         IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 15000000000
[1 thru 3]      IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[7]             IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[9 thru 13]     IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[15 thru 21]    IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[23 thru 26]    IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[29 30]         IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[32]            IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[7]             FIREWALL-ENABLED YES
[13]            FIREWALL-ENABLED YES
[1]             HOSTMODEL-USERNAME Attacer1
[2]             HOSTMODEL-USERNAME Attacer2
[3]             HOSTMODEL-USERNAME Attacer3
[7]             HOSTMODEL-USERNAME CorporateFirewall
[9]             HOSTMODEL-USERNAME Server
[10]            HOSTMODEL-USERNAME User1
[11]            HOSTMODEL-USERNAME User2
[12]            HOSTMODEL-USERNAME User3
[13]            HOSTMODEL-USERNAME InternalFirewall
[15]            HOSTMODEL-USERNAME HMI1
[16]            HOSTMODEL-USERNAME PLC
[17]            HOSTMODEL-USERNAME station1
[18]            HOSTMODEL-USERNAME station2
[19]            HOSTMODEL-USERNAME HMI2
[20]            HOSTMODEL-USERNAME station3
[21]            HOSTMODEL-USERNAME UPS
[23]            HOSTMODEL-USERNAME agent1
[24]            HOSTMODEL-USERNAME agent2
[25]            HOSTMODEL-USERNAME agent3
[26]            HOSTMODEL-USERNAME agent4
[29]            HOSTMODEL-USERNAME Customer1
[30]            HOSTMODEL-USERNAME Customer2
[1]             HOSTNAME Attacker1
[2]             HOSTNAME Attacker2
[3]             HOSTNAME Attacker3
[7]             HOSTNAME CorporateFirewall
[9]             HOSTNAME Server
[10]            HOSTNAME User1
[11]            HOSTNAME User2
[12]            HOSTNAME User3
[13]            HOSTNAME InternalFirewall
[15]            HOSTNAME HMI1
[16]            HOSTNAME PLC
[17]            HOSTNAME station1
[18]            HOSTNAME station2
[19]            HOSTNAME HMI2
[20]            HOSTNAME station3
[21]            HOSTNAME UPS
[23]            HOSTNAME agent1
[24]            HOSTNAME agent2
[25]            HOSTNAME agent3
[26]            HOSTNAME agent4
[29]            HOSTNAME Customer1
[30]            HOSTNAME Customer2
[32]            HOSTNAME router
[1 thru 3]      NODE-PLACEMENT FILE
[7]             NODE-PLACEMENT FILE
[9 thru 13]     NODE-PLACEMENT FILE
[15 thru 21]    NODE-PLACEMENT FILE
[23 thru 26]    NODE-PLACEMENT FILE
[29 30]         NODE-PLACEMENT FILE
[32]            NODE-PLACEMENT FILE
[32]            ROUTER YES
[7]             HOSTMODEL-HOSTPROFILE AllVulNoWebSever
[9]             HOSTMODEL-HOSTPROFILE AllVullWebServer
[10 thru 13]    HOSTMODEL-HOSTPROFILE AllVulNoWebSever
[15 thru 21]    HOSTMODEL-HOSTPROFILE AllVulNoWebSever
[23 thru 25]    HOSTMODEL-HOSTPROFILE LowCPU
[1 thru 3]      HOSTMODEL-SIDE-NAME RED
[7]             HOSTMODEL-SIDE-NAME BLUE
[9 thru 13]     HOSTMODEL-SIDE-NAME BLUE
[15 thru 21]    HOSTMODEL-SIDE-NAME BLUE
[23 thru 26]    HOSTMODEL-SIDE-NAME BLUE
[29 30]         HOSTMODEL-SIDE-NAME GREY
[1]             HOSTMODEL-USEREMAILID attacer1@grid.com
[2]             HOSTMODEL-USEREMAILID attacer2@grid.com
[3]             HOSTMODEL-USEREMAILID attacer3@grid.com
[7]             HOSTMODEL-USEREMAILID corporatefirewall@grid.com
[9]             HOSTMODEL-USEREMAILID server@grid.com
[10]            HOSTMODEL-USEREMAILID user1@grid.com
[11]            HOSTMODEL-USEREMAILID user2@grid.com
[12]            HOSTMODEL-USEREMAILID user3@grid.com
[13]            HOSTMODEL-USEREMAILID internalfirewall@grid.com
[15]            HOSTMODEL-USEREMAILID hmi1@grid.com
[16]            HOSTMODEL-USEREMAILID plc@grid.com
[17]            HOSTMODEL-USEREMAILID station1@grid.com
[18]            HOSTMODEL-USEREMAILID station2@grid.com
[19]            HOSTMODEL-USEREMAILID hmi2@grid.com
[20]            HOSTMODEL-USEREMAILID station3@grid.com
[21]            HOSTMODEL-USEREMAILID ups@grid.com
[23]            HOSTMODEL-USEREMAILID agent1@grid.com
[24]            HOSTMODEL-USEREMAILID agent2@grid.com
[25]            HOSTMODEL-USEREMAILID agent3@grid.com
[26]            HOSTMODEL-USEREMAILID agent4@grid.com
[29]            HOSTMODEL-USEREMAILID customer1@grid.com
[30]            HOSTMODEL-USEREMAILID customer2@grid.com
[11]            DUMMY-HOSTMODEL-OHS-CREDENTIALS NO
[23 thru 25]    DUMMY-HOSTMODEL-OHS-CREDENTIALS NO
[11]            HOSTMODEL-ENABLED YES
[23 thru 25]    HOSTMODEL-ENABLED YES
[1 thru 3]      GUI-NODE-2D-ICON laptop1.png
[7]             GUI-NODE-2D-ICON firewall.png
[9]             GUI-NODE-2D-ICON server.png
[10 thru 12]    GUI-NODE-2D-ICON monitor.png
[13]            GUI-NODE-2D-ICON firewall.png
[15]            GUI-NODE-2D-ICON HMI-Hex-Icon_Large.png
[16]            GUI-NODE-2D-ICON PLC-Hex-Icon_Large.png
[17 18]         GUI-NODE-2D-ICON grid-station1.png
[19]            GUI-NODE-2D-ICON HMI-Hex-Icon_Large.png
[20]            GUI-NODE-2D-ICON grid-station1.png
[21]            GUI-NODE-2D-ICON ups.png
[23 thru 26]    GUI-NODE-2D-ICON phone-icon.png
[1 thru 3]      ARP-CACHE-EXPIRE-INTERVAL 20M
[7]             ARP-CACHE-EXPIRE-INTERVAL 20M
[9 thru 13]     ARP-CACHE-EXPIRE-INTERVAL 20M
[15 thru 21]    ARP-CACHE-EXPIRE-INTERVAL 20M
[23 thru 26]    ARP-CACHE-EXPIRE-INTERVAL 20M
[29 30]         ARP-CACHE-EXPIRE-INTERVAL 20M
[32]            ARP-CACHE-EXPIRE-INTERVAL 20M
[7]             HOSTMODEL-USERPROFILE Active User Connected
[9 10]          HOSTMODEL-USERPROFILE Active User Connected
[11]            HOSTMODEL-USERPROFILE extremelyProne
[12 13]         HOSTMODEL-USERPROFILE Active User Connected
[15 thru 21]    HOSTMODEL-USERPROFILE Quiet User Limited
[23 thru 25]    HOSTMODEL-USERPROFILE test-profile
[1 thru 3]      ARP-ENABLED YES
[7]             ARP-ENABLED YES
[9 thru 13]     ARP-ENABLED YES
[15 thru 21]    ARP-ENABLED YES
[23 thru 26]    ARP-ENABLED YES
[29 30]         ARP-ENABLED YES
[32]            ARP-ENABLED YES
[14]            SWITCH-PORT-VLAN-ID[4] 1
[6]             SWITCH-PORT-MAP[2] LINK2/6/1
[8]             SWITCH-PORT-MAP[2] LINK8/8/1
[14]            SWITCH-PORT-MAP[2] LINK14/14/1
[22]            SWITCH-PORT-MAP[2] LINK22/22/0
[27]            SWITCH-PORT-MAP[2] LINK28/27/1
[28]            SWITCH-PORT-MAP[2] LINK17/28/1
[31]            SWITCH-PORT-MAP[2] LINK29/31/1
[6]             SWITCH-PORT-MAP[3] LINK3/6/2
[8]             SWITCH-PORT-MAP[3] LINK9/8/2
[14]            SWITCH-PORT-MAP[3] LINK15/14/2
[22]            SWITCH-PORT-MAP[3] LINK23/22/1
[28]            SWITCH-PORT-MAP[3] LINK19/28/2
[31]            SWITCH-PORT-MAP[3] LINK30/31/2
[14]            SWITCH-PORT-VLAN-ID[2] 1
[27]            SWITCH-PORT-VLAN-ID[2] 1
[8]             SWITCH-PORT-MAP[5] LINK11/8/4
[22]            SWITCH-PORT-MAP[5] LINK25/22/3
[28]            SWITCH-PORT-MAP[5] LINK27/28/4
[6]             HOSTNAME ExternalNetwork
[8]             HOSTNAME CorporateNetwork
[14]            HOSTNAME SCADANetwork
[22]            HOSTNAME CallCenterNetwork
[27]            HOSTNAME switch1
[28]            HOSTNAME GridNetwork
[31]            HOSTNAME switch2
[6]             NODE-PLACEMENT FILE
[8]             NODE-PLACEMENT FILE
[14]            NODE-PLACEMENT FILE
[22]            NODE-PLACEMENT FILE
[27 28]         NODE-PLACEMENT FILE
[31]            NODE-PLACEMENT FILE
[14]            SWITCH-PORT-VLAN-ID[1] 1
[27 28]         SWITCH-PORT-VLAN-ID[1] 1
[31]            SWITCH-PORT-VLAN-ID[1] 1
[14]            SWITCH-PORT-VLAN-ID[6] 1
[14]            SWITCH-PORT-VLAN-ID[3] 1
[6]             SWITCH YES
[8]             SWITCH YES
[14]            SWITCH YES
[22]            SWITCH YES
[27 28]         SWITCH YES
[31]            SWITCH YES
[8]             SWITCH-PORT-MAP[4] LINK10/8/3
[14]            SWITCH-PORT-MAP[4] LINK16/14/4
[22]            SWITCH-PORT-MAP[4] LINK24/22/2
[28]            SWITCH-PORT-MAP[4] LINK20/28/3
[6]             SWITCH-PORT-MAP[1] LINK1/6/0
[8]             SWITCH-PORT-MAP[1] LINK7/8/0
[14]            SWITCH-PORT-MAP[1] LINK13/14/0
[22]            SWITCH-PORT-MAP[1] LINK31/22/4
[27]            SWITCH-PORT-MAP[1] LINK26/27/0
[28]            SWITCH-PORT-MAP[1] LINK16/28/0
[31]            SWITCH-PORT-MAP[1] LINK28/31/0
[6]             SWITCH-PORT-MAP[6] LINK6/6/3
[8]             SWITCH-PORT-MAP[6] LINK12/8/5
[14]            SWITCH-PORT-MAP[6] LINK18/14/3
NODE-POSITION-FILE Attack.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE Attack.display

#*************HostModel Configuration***********************************

HOSTMODEL-CONFIGURATION-FILE hostmodel/hostmodelConfig.json

