# ***** EXata Configuration File *****


#********************General Settings***********************************

VERSION 17.03
EXPERIMENT-NAME SonyPictureAttack
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 3M
DUMMY-BASE-DATETIME NONE
SEED 1
MULTI-GUI-INTERFACE NO
GUI-CONFIG-LOCKED NO
DUMMY-GLOBAL-FILTER-ENABLE NO
NUM-NODES 20

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES
WAIT-STATS-ENABLED NO

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#********************Heatmap Settings***********************************

PROP-HEAT-MAP-COLLECTION NO
PROP-HEAT-MAP-CONSIDER-TX-ANTENNA-GAIN YES
PROP-HEAT-MAP-COLLECTION-START-TIME 0S
PROP-HEAT-MAP-COLLECTION-END-TIME 30S
DUMMY-ENABLE-HEAT-MAP-LOCATION-FILE-OPTION NO
PROP-HEAT-MAP-HORIZONTAL-GRANULARITY 100
PROP-HEAT-MAP-VERTICAL-GRANULARITY 10
PROP-HEAT-MAP-MAX-HEIGHT 100
PROP-HEAT-MAP-MAX-DEPTH 0
PROP-HEAT-MAP-MAX-THREADS 4
PROP-HEAT-MAP-BINARY-OUTPUT NO
STATS-DB-HEATMAP-EVENTS-TABLE NO
STATS-DB-HEATMAP-SUMMARY-TABLE NO
STATS-DB-HEATMAP-DESCRIPTION-TABLE NO

#*****************Terrain and Climate***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-NAME[0] channel0
PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000.000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-P533HF-ACTIVE[0] NO
DUMMY-MIMO-PARAMETERS NO

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE
DUMMY-MOBILITY-DYNAMICS NO

#********************Satellite Orbits***********************************

DUMMY-SATELLITE-WAYPOINT-GENERATION-MODE PREDEFINED
MOBILITY-SATELLITE-NODE-FIDELITY 1S
DUMMY-SATELLITE-WAYPOINT-SAME-LATLONG-ORBITS NO

#*********************************GSM***********************************

GSM-TOTAL-NUMBER-OF-CHANNELS 0

#*********************************LTE***********************************

PHY-LTE-PERFORMANCE-MODE 0

#**********************************5G***********************************

PHY-NR-PERFORMANCE-MODE 1
PHY-NR-ENABLE-RECIPIENT-LIST NO
DUMMY-GCM-MATRIX-FILES no

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
MULTICAST-MSDP-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO
PHY-LTE-CA-STATS NO
PHY-NR-CA-STATS NO
5G-NS-STATS NO
HOSTMODEL-STATISTICS NO
PROPAGATION-PDP-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#**********************EXSH Interface***********************************

EXSH-ENABLED NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#*******************VR-Link Interface***********************************

VRLINK NO

#****************Command PE Interface***********************************

CPE-INTERFACE NO

#***********************Warm-up Phase***********************************

DUMMY-EXTERNAL-WARM-UP YES
EXTERNAL-WARM-UP-TIME 1M
EXTERNAL-WARM-UP-DROP NO

#PathWave System Design Co-simulation Interface***********************************

SYSTEMVUE-ENGINE-INTERFACE NO

#*******************PROPSIM Interface***********************************

PROPSIM-ATE-INTERFACE NO
isDeviceModelComponent false
DYNAMIC-ENTITY-CREATION NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNELS channel0
PHY-LISTENING-CHANNELS channel0
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-FREQUENCY-BAND 2400000000
PHY802.11-COUNTRY-CODE US
PHY802.11-20MHz-CHANNEL-INDEX 6
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-USE-LEGACY-802.11b NO
PHY802.11-RX-SENSITIVITY-1MBPS -82.0
PHY802.11-RX-SENSITIVITY-2MBPS -80.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -78.0
PHY802.11-RX-SENSITIVITY-11MBPS -76.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-NOISE-TEMPERATURE 290.0
ANTENNA-TILT-ANGLE 0.0
ANTENNA-AXIAL-RATIO 1.0
ANTENNA-POLARIZATION-REFERENCE-AXIS X
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
ANTENNA-ORIENTATION-ROLL 0
ANTENNA-MOUNTING-MODEL FIXED
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ENABLE-METRIC-REPORTING NO
MAC-DOT11-LONG-RANGE-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US
CONFIGURE-MEDIA-TYPE NO

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#******************MSDP Configuration***********************************


#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-NUM-INTERFACES 1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL-IPv4 BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#*******************BGP Configuration***********************************

DUMMY-BGP-ENABLE-ROUTER-ID NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP NEWRENO
TCP-USE-RFC1323 YES
TCP-USE-RFC3042 YES
TCP-USE-RFC3390 YES
TCP-USE-RFC3465 YES
TCP-USE-NAGLE-ALGORITHM YES
TCP-DO-ECN NO
TCP-ECN-MAX-RETRIES 1
TCP-SACK-PERMITTED YES
TCP-MAX-SACK-HOLES 128
TCP-DROP-SYNFIN NO
TCP-DO-INSECURE-RST NO
TCP-DO-INSECURE-SYN NO
TCP-USE-PUSH YES
TCP-TIMER-JITTER YES
TCP-MSS 536
TCP6-MSS 1220
TCP-INITCWND-SEGMENTS 10
TCP-SYNCACHE-HASHSIZE 512
TCP-SYNCACHE-BUCKETLIMIT 30
TCP-SYNCACHE-CACHELIMIT 15360
TCP-DELAY-ACKS YES
TCP-MSL 1MS
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO
DTN-OPERATION-ENABLED NO
EMULATED-FTP-ENABLED YES
EMULATED-HTTP-ENABLED YES
EMULATED-TELNET-ENABLED YES

#***************************LTE Layer***********************************

IS-SGW NO
IS-PGW NO
IS-GNB NO

#*****************************FIVE_GC***********************************


#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************OS Resource Model***********************************

OS-RESOURCE-MODEL NO

#****************Satellite Properties***********************************

DUMMY-IS-SATELLITE-NODE NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO


# ***** Advanced Emulation Data *****



# ***** Virtual Node Data *****

NETWORK-OFFLOAD NO

#********* [Default Wireless Subnet] ***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 1, 2 } LINK-UUID LINK1
[ LINK1/1/0 LINK1/2/0 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ LINK1/1/0 LINK1/2/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK1/1/0 LINK1/2/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK1/1/0 LINK1/2/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK1/1/0 LINK1/2/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 8, 7 } LINK-UUID LINK6
[ LINK6/8/0 LINK6/7/0 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 9, 7 } LINK-UUID LINK7
[ LINK7/9/0 LINK7/7/1 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 10, 7 } LINK-UUID LINK8
[ LINK8/10/0 LINK8/7/2 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 11, 7 } LINK-UUID LINK9
[ LINK9/11/0 LINK9/7/3 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 12, 7 } LINK-UUID LINK10
[ LINK10/12/0 LINK10/7/4 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 7, 1 } LINK-UUID LINK12
[ LINK12/7/5 LINK12/1/1 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 13, 19 } LINK-UUID LINK13
[ LINK13/13/0 LINK13/19/0 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 14, 19 } LINK-UUID LINK14
[ LINK14/14/0 LINK14/19/1 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 15, 19 } LINK-UUID LINK15
[ LINK15/15/0 LINK15/19/2 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 16, 19 } LINK-UUID LINK16
[ LINK16/16/0 LINK16/19/3 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 17, 19 } LINK-UUID LINK17
[ LINK17/17/0 LINK17/19/4 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 18, 19 } LINK-UUID LINK18
[ LINK18/18/0 LINK18/19/5 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 8, 19 } LINK-UUID LINK19
[ LINK19/8/1 LINK19/19/6 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 5, 20 } LINK-UUID LINK3
[ LINK3/5/0 LINK3/20/0 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 3, 20 } LINK-UUID LINK4
[ LINK4/3/0 LINK4/20/1 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 6, 20 } LINK-UUID LINK5
[ LINK5/6/0 LINK5/20/2 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 4, 20 } LINK-UUID LINK20
[ LINK20/4/0 LINK20/20/3 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 2, 20 } LINK-UUID LINK21
[ LINK21/2/1 LINK21/20/4 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#*************Interface Configuration***********************************

[1] NETWORK-PROTOCOL[0]       IP
[LINK1/1/0] IP-ADDRESS        190.0.1.1

[1] NETWORK-PROTOCOL[1]       IP
[LINK12/1/1] IP-ADDRESS       190.0.3.7

[2] NETWORK-PROTOCOL[0]       IP
[LINK1/2/0] IP-ADDRESS        190.0.1.2

[2] NETWORK-PROTOCOL[1]       IP
[LINK21/2/1] IP-ADDRESS       190.0.6.5

[3] NETWORK-PROTOCOL[0]       IP
[LINK4/3/0] IP-ADDRESS        190.0.6.2

[4] NETWORK-PROTOCOL[0]       IP
[LINK20/4/0] IP-ADDRESS       190.0.6.4

[5] NETWORK-PROTOCOL[0]       IP
[LINK3/5/0] IP-ADDRESS        190.0.6.1

[6] NETWORK-PROTOCOL[0]       IP
[LINK5/6/0] IP-ADDRESS        190.0.6.3

[8] NETWORK-PROTOCOL[0]       IP
[LINK6/8/0] IP-ADDRESS        190.0.3.1

[8] NETWORK-PROTOCOL[1]       IP
[LINK19/8/1] IP-ADDRESS       190.0.5.7

[9] NETWORK-PROTOCOL[0]       IP
[LINK7/9/0] IP-ADDRESS        190.0.3.2

[10] NETWORK-PROTOCOL[0]      IP
[LINK8/10/0] IP-ADDRESS       190.0.3.3

[11] NETWORK-PROTOCOL[0]      IP
[LINK9/11/0] IP-ADDRESS       190.0.3.4

[12] NETWORK-PROTOCOL[0]      IP
[LINK10/12/0] IP-ADDRESS      190.0.3.5

[13] NETWORK-PROTOCOL[0]      IP
[LINK13/13/0] IP-ADDRESS      190.0.5.1

[14] NETWORK-PROTOCOL[0]      IP
[LINK14/14/0] IP-ADDRESS      190.0.5.2

[15] NETWORK-PROTOCOL[0]      IP
[LINK15/15/0] IP-ADDRESS      190.0.5.3

[16] NETWORK-PROTOCOL[0]      IP
[LINK16/16/0] IP-ADDRESS      190.0.5.4

[17] NETWORK-PROTOCOL[0]      IP
[LINK17/17/0] IP-ADDRESS      190.0.5.5

[18] NETWORK-PROTOCOL[0]      IP
[LINK18/18/0] IP-ADDRESS      190.0.5.6

[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] IP-FRAGMENTATION-UNIT  2048
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  150000
[LINK12/1/1 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0 LINK13/19/0 LINK14/19/1 LINK15/19/2 LINK16/19/3 LINK17/19/4 LINK18/19/5 LINK19/19/6 LINK3/20/0 LINK4/20/1 LINK5/20/2 LINK20/20/3 LINK21/20/4 LINK6/7/0 LINK7/7/1 LINK8/7/2 LINK9/7/3 LINK10/7/4 LINK12/7/5] LINK-HEADER-SIZE-IN-BITS  224
[LINK12/1/1 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0 LINK13/19/0 LINK14/19/1 LINK15/19/2 LINK16/19/3 LINK17/19/4 LINK18/19/5 LINK19/19/6 LINK3/20/0 LINK4/20/1 LINK5/20/2 LINK20/20/3 LINK21/20/4 LINK6/7/0 LINK7/7/1 LINK8/7/2 LINK9/7/3 LINK10/7/4 LINK12/7/5] LINK-PROPAGATION-DELAY  1MS
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] IP-QUEUE-TYPE[1]  FIFO
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] IP-QUEUE-TYPE[2]  FIFO
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  150000
[LINK12/1/1 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0 LINK13/19/0 LINK14/19/1 LINK15/19/2 LINK16/19/3 LINK17/19/4 LINK18/19/5 LINK19/19/6 LINK3/20/0 LINK4/20/1 LINK5/20/2 LINK20/20/3 LINK21/20/4 LINK6/7/0 LINK7/7/1 LINK8/7/2 LINK9/7/3 LINK10/7/4 LINK12/7/5] LINK-BANDWIDTH  10000000.000000
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] IP-QUEUE-TYPE[0]  FIFO
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] LLC-ENABLED  YES
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] SNAP-ENABLED  YES
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  150000
[LINK12/1/1 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0 LINK13/19/0 LINK14/19/1 LINK15/19/2 LINK16/19/3 LINK17/19/4 LINK18/19/5 LINK19/19/6 LINK3/20/0 LINK4/20/1 LINK5/20/2 LINK20/20/3 LINK21/20/4 LINK6/7/0 LINK7/7/1 LINK8/7/2 LINK9/7/3 LINK10/7/4 LINK12/7/5] LINK-DROP-PROBABILITY  0
[LINK1/1/0 LINK12/1/1 LINK1/2/0 LINK21/2/1 LINK4/3/0 LINK20/4/0 LINK3/5/0 LINK5/6/0 LINK6/8/0 LINK19/8/1 LINK7/9/0 LINK8/10/0 LINK9/11/0 LINK10/12/0 LINK13/13/0 LINK14/14/0 LINK15/15/0 LINK16/16/0 LINK17/17/0 LINK18/18/0 LINK13/19/0 LINK14/19/1 LINK15/19/2 LINK16/19/3 LINK17/19/4 LINK18/19/5 LINK19/19/6 LINK3/20/0 LINK4/20/1 LINK5/20/2 LINK20/20/3 LINK21/20/4 LINK6/7/0 LINK7/7/1 LINK8/7/2 LINK9/7/3 LINK10/7/4 LINK12/7/5] LINK-MAC-PROTOCOL  ABSTRACT


#*************Hierarchy Configuration***********************************

COMPONENT 1 {13 14 15 16 17 18 19 } 7 659.624 1325.95 0 220.578 156.243 3000 CONSTRAINED  BG="C:/Users/mtree/Downloads/Sonypicturesentertainmentoffices.jpg" GUI-NODE-2D-ICON="hierarchy.png"  HOSTNAME="Sony Picture Headquarter" 
COMPONENT 2 {3 4 5 6 20 } 5 1201.88 906.243 0 49.0173 27.5723 3000 CONSTRAINED  BG="C:/Users/mtree/Downloads/Bhumika-pic-sign/Attackers.jpg" GUI-NODE-2D-ICON="hierarchy.png"  HOSTNAME="Attackers-cells" 

#******************Node Configuration***********************************


[2]             ROUTER YES
[1]             GUI-NODE-2D-ICON firewall.png
[3 thru 6]      GUI-NODE-2D-ICON attacker.png
[8]             GUI-NODE-2D-ICON firewall.png
[9]             GUI-NODE-2D-ICON monitor.png
[10 thru 12]    GUI-NODE-2D-ICON laptop.png
[13 thru 18]    GUI-NODE-2D-ICON nas.png
[1]             HOSTMODEL-SIDE-NAME RED
[3 thru 6]      HOSTMODEL-SIDE-NAME RED
[8]             HOSTMODEL-SIDE-NAME RED
[9 thru 18]     HOSTMODEL-SIDE-NAME BLUE
[10]            HOSTMODEL-USEREMAILID user10@so.com
[1]             DUMMY-HOSTMODEL-OHS-CREDENTIALS NO
[3 thru 6]      DUMMY-HOSTMODEL-OHS-CREDENTIALS NO
[8 thru 18]     DUMMY-HOSTMODEL-OHS-CREDENTIALS NO
[1 thru 6]      ARP-CACHE-EXPIRE-INTERVAL 20M
[8 thru 18]     ARP-CACHE-EXPIRE-INTERVAL 20M
[1]             HOSTMODEL-USERPROFILE NoAccess
[3 thru 6]      HOSTMODEL-USERPROFILE NoAccess
[8]             HOSTMODEL-USERPROFILE Active User Connected
[9 10]          HOSTMODEL-USERPROFILE PhishingVeryHigh
[11 12]         HOSTMODEL-USERPROFILE NoAccess
[13 thru 18]    HOSTMODEL-USERPROFILE PhishingVeryHigh
[1 thru 6]      NODE-PLACEMENT FILE
[8 thru 18]     NODE-PLACEMENT FILE
[1 thru 6]      ARP-ENABLED YES
[8 thru 18]     ARP-ENABLED YES
[8]             HOSTMODEL-USERNAME firewall
[10]            HOSTMODEL-USERNAME User10
[1]             HOSTMODEL-HOSTPROFILE NoVul
[3 thru 6]      HOSTMODEL-HOSTPROFILE NoVul
[8]             HOSTMODEL-HOSTPROFILE General Linux User Profile
[9]             HOSTMODEL-HOSTPROFILE General User Profile
[10]            HOSTMODEL-HOSTPROFILE FILE Server Profile
[11 12]         HOSTMODEL-HOSTPROFILE NoVul
[13 thru 18]    HOSTMODEL-HOSTPROFILE NAS
[1]             HOSTMODEL-ENABLED YES
[3 thru 6]      HOSTMODEL-ENABLED YES
[8 thru 18]     HOSTMODEL-ENABLED YES
[1]             FIREWALL-ENABLED YES
[8]             FIREWALL-ENABLED YES
[1]             HOSTNAME FIREWALL1
[2]             HOSTNAME ROUTER2
[3]             HOSTNAME Attacker3
[4]             HOSTNAME Attacker4
[5]             HOSTNAME Attacker5
[6]             HOSTNAME Attacker6
[8]             HOSTNAME FIREWALL8
[9]             HOSTNAME Admin9
[10]            HOSTNAME User10
[11]            HOSTNAME User11
[12]            HOSTNAME User12
[13]            HOSTNAME NAS13
[14]            HOSTNAME NAS14
[15]            HOSTNAME NAS15
[16]            HOSTNAME NAS16
[17]            HOSTNAME NAS17
[18]            HOSTNAME NAS18
[1 thru 6]      IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[8 thru 18]     IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[7]             SWITCH-PORT-MAP[5] LINK10/7/4
[19]            SWITCH-PORT-MAP[5] LINK17/19/4
[20]            SWITCH-PORT-MAP[5] LINK21/20/4
[7]             SWITCH-PORT-MAP[7] LINK12/7/5
[19]            SWITCH-PORT-MAP[7] LINK19/19/6
[19]            SWITCH-PORT-MAP[6] LINK18/19/5
[7]             SWITCH-PORT-MAP[2] LINK7/7/1
[19]            SWITCH-PORT-MAP[2] LINK14/19/1
[20]            SWITCH-PORT-MAP[2] LINK4/20/1
[7]             SWITCH YES
[19 20]         SWITCH YES
[7]             NODE-PLACEMENT FILE
[19 20]         NODE-PLACEMENT FILE
[7]             SWITCH-PORT-MAP[1] LINK6/7/0
[19]            SWITCH-PORT-MAP[1] LINK13/19/0
[20]            SWITCH-PORT-MAP[1] LINK3/20/0
[7]             SWITCH-PORT-MAP[3] LINK8/7/2
[19]            SWITCH-PORT-MAP[3] LINK15/19/2
[20]            SWITCH-PORT-MAP[3] LINK5/20/2
[7]             HOSTNAME SWITCH7
[19 20]         HOSTNAME Switch
[7]             SWITCH-PORT-MAP[4] LINK9/7/3
[19]            SWITCH-PORT-MAP[4] LINK16/19/3
[20]            SWITCH-PORT-MAP[4] LINK20/20/3
NODE-POSITION-FILE Attack2.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE Attack2.display

#*************HostModel Configuration***********************************

HOSTMODEL-CONFIGURATION-FILE hostmodel/hostmodelConfig.json

