# ***** EXata Configuration File *****


#********************General Settings***********************************

VERSION 17.03
EXPERIMENT-NAME exata
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 30S
DUMMY-BASE-DATETIME NONE
SEED 1
MULTI-GUI-INTERFACE NO
GUI-CONFIG-LOCKED NO
DUMMY-GLOBAL-FILTER-ENABLE NO
NUM-NODES 15

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES
WAIT-STATS-ENABLED NO

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#********************Heatmap Settings***********************************

PROP-HEAT-MAP-COLLECTION NO
PROP-HEAT-MAP-CONSIDER-TX-ANTENNA-GAIN YES
PROP-HEAT-MAP-COLLECTION-START-TIME 0S
PROP-HEAT-MAP-COLLECTION-END-TIME 30S
DUMMY-ENABLE-HEAT-MAP-LOCATION-FILE-OPTION NO
PROP-HEAT-MAP-HORIZONTAL-GRANULARITY 100
PROP-HEAT-MAP-VERTICAL-GRANULARITY 10
PROP-HEAT-MAP-MAX-HEIGHT 100
PROP-HEAT-MAP-MAX-DEPTH 0
PROP-HEAT-MAP-MAX-THREADS 4
PROP-HEAT-MAP-BINARY-OUTPUT NO
STATS-DB-HEATMAP-EVENTS-TABLE NO
STATS-DB-HEATMAP-SUMMARY-TABLE NO
STATS-DB-HEATMAP-DESCRIPTION-TABLE NO

#*****************Terrain and Climate***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-NAME[0] channel0
PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000.000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-P533HF-ACTIVE[0] NO
DUMMY-MIMO-PARAMETERS NO

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE
DUMMY-MOBILITY-DYNAMICS NO

#********************Satellite Orbits***********************************

DUMMY-SATELLITE-WAYPOINT-GENERATION-MODE PREDEFINED
MOBILITY-SATELLITE-NODE-FIDELITY 1S
DUMMY-SATELLITE-WAYPOINT-SAME-LATLONG-ORBITS NO

#*********************************GSM***********************************

GSM-TOTAL-NUMBER-OF-CHANNELS 0

#*********************************LTE***********************************

PHY-LTE-PERFORMANCE-MODE 0

#**********************************5G***********************************

PHY-NR-PERFORMANCE-MODE 1
PHY-NR-ENABLE-RECIPIENT-LIST NO
DUMMY-GCM-MATRIX-FILES no

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
MULTICAST-MSDP-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO
PHY-LTE-CA-STATS NO
PHY-NR-CA-STATS NO
5G-NS-STATS NO
HOSTMODEL-STATISTICS NO
PROPAGATION-PDP-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE test2.app
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#**********************EXSH Interface***********************************

EXSH-ENABLED NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#*******************VR-Link Interface***********************************

VRLINK NO

#****************Command PE Interface***********************************

CPE-INTERFACE NO

#PathWave System Design Co-simulation Interface***********************************

SYSTEMVUE-ENGINE-INTERFACE NO

#*******************PROPSIM Interface***********************************

PROPSIM-ATE-INTERFACE NO
isDeviceModelComponent false
DYNAMIC-ENTITY-CREATION NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNELS channel0
PHY-LISTENING-CHANNELS channel0
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-FREQUENCY-BAND 2400000000
PHY802.11-COUNTRY-CODE US
PHY802.11-20MHz-CHANNEL-INDEX 6
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-USE-LEGACY-802.11b NO
PHY802.11-RX-SENSITIVITY-1MBPS -82.0
PHY802.11-RX-SENSITIVITY-2MBPS -80.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -78.0
PHY802.11-RX-SENSITIVITY-11MBPS -76.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-NOISE-TEMPERATURE 290.0
ANTENNA-TILT-ANGLE 0.0
ANTENNA-AXIAL-RATIO 1.0
ANTENNA-POLARIZATION-REFERENCE-AXIS X
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
ANTENNA-ORIENTATION-ROLL 0
ANTENNA-MOUNTING-MODEL FIXED
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ENABLE-METRIC-REPORTING NO
MAC-DOT11-LONG-RANGE-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US
CONFIGURE-MEDIA-TYPE NO

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#******************MSDP Configuration***********************************


#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-NUM-INTERFACES 1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL-IPv4 BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#*******************BGP Configuration***********************************

DUMMY-BGP-ENABLE-ROUTER-ID NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP NEWRENO
TCP-USE-RFC1323 YES
TCP-USE-RFC3042 YES
TCP-USE-RFC3390 YES
TCP-USE-RFC3465 YES
TCP-USE-NAGLE-ALGORITHM YES
TCP-DO-ECN NO
TCP-ECN-MAX-RETRIES 1
TCP-SACK-PERMITTED YES
TCP-MAX-SACK-HOLES 128
TCP-DROP-SYNFIN NO
TCP-DO-INSECURE-RST NO
TCP-DO-INSECURE-SYN NO
TCP-USE-PUSH YES
TCP-TIMER-JITTER YES
TCP-MSS 536
TCP6-MSS 1220
TCP-INITCWND-SEGMENTS 10
TCP-SYNCACHE-HASHSIZE 512
TCP-SYNCACHE-BUCKETLIMIT 30
TCP-SYNCACHE-CACHELIMIT 15360
TCP-DELAY-ACKS YES
TCP-MSL 1MS
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO
DTN-OPERATION-ENABLED NO
EMULATED-FTP-ENABLED YES
EMULATED-HTTP-ENABLED YES
EMULATED-TELNET-ENABLED YES

#***************************LTE Layer***********************************

IS-SGW NO
IS-PGW NO
IS-GNB NO

#*****************************FIVE_GC***********************************


#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************OS Resource Model***********************************

OS-RESOURCE-MODEL NO

#****************Satellite Properties***********************************

DUMMY-IS-SATELLITE-NODE NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO


# ***** Advanced Emulation Data *****



# ***** Virtual Node Data *****

NETWORK-OFFLOAD NO

#********* [Default Wireless Subnet] ***********************************

SUBNET N8-169.0.0.0 {13, 14} SUBNET-UUID SUB1 Default
[ N8-169.0.0.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
[ N8-169.0.0.0 ] PHY802.11-DATA-RATE 2000000

#***********************NETWORK LAYER***********************************

[ N8-169.0.0.0 ] IP-FRAGMENT-HOLD-TIME 60S

#***************** [Wireless Subnet] ***********************************

SUBNET N8-190.0.1.0 {1 thru 5, 8 thru 12, 15} SUBNET-UUID SUB2 85.6574 250.487 0
[ N8-190.0.1.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
[ N8-190.0.1.0 ] PHY802.11-DATA-RATE 2000000

#***************************MAC Layer***********************************

[ N8-190.0.1.0 ] MAC-PROTOCOL MACDOT11
[ N8-190.0.1.0 ] MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
[ N8-190.0.1.0 ] MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
[ N8-190.0.1.0 ] MAC-DOT11-RTS-THRESHOLD 0
[ N8-190.0.1.0 ] MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
[ N8-190.0.1.0 ] MAC-DOT11-ENABLE-METRIC-REPORTING NO
[ N8-190.0.1.0 ] MAC-DOT11-LONG-RANGE-MODE NO
[ N8-190.0.1.0 ] MAC-DOT11-ASSOCIATION NONE
[ N8-190.0.1.0 ] MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
[ N8-190.0.1.0 ] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[ N8-190.0.1.0 ] MAC-SECURITY-PROTOCOL NO
[ N8-190.0.1.0 ] WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO

#***********************NETWORK LAYER***********************************

[ N8-190.0.1.0 ] IP-FRAGMENT-HOLD-TIME 60S



#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 3, 7 } LINK-UUID LINK3
[ LINK3/3/1 LINK3/7/0 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 4, 7 } LINK-UUID LINK4
[ LINK4/4/1 LINK4/7/1 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 5, 7 } LINK-UUID LINK5
[ LINK5/5/1 LINK5/7/2 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 5, 6 } LINK-UUID LINK6
[ LINK6/5/2 LINK6/6/0 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ LINK6/5/2 LINK6/6/0 ] LINK-PROPAGATION-DELAY 1MS
[ LINK6/5/2 LINK6/6/0 ] LINK-BANDWIDTH 10000000.000000
[ LINK6/5/2 LINK6/6/0 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK6/5/2 LINK6/6/0 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 15, 7 } LINK-UUID LINK7
[ LINK7/15/1 LINK7/7/3 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.4.0 { 15, 5 } LINK-UUID LINK8
[ LINK8/15/2 LINK8/5/3 ] DUMMY-GUI-SYMMETRIC-LINK YES
[ LINK8/15/2 LINK8/5/3 ] LINK-PROPAGATION-DELAY 1MS
[ LINK8/15/2 LINK8/5/3 ] LINK-BANDWIDTH 10000000.000000
[ LINK8/15/2 LINK8/5/3 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK8/15/2 LINK8/5/3 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 1, 7 } LINK-UUID LINK1
[ LINK1/1/1 LINK1/7/4 ] DUMMY-GUI-SYMMETRIC-LINK NO

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 2, 7 } LINK-UUID LINK2
[ LINK2/2/1 LINK2/7/5 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK2/2/1 LINK2/7/5 ] LINK-PROPAGATION-DELAY 1MS
[ LINK2/2/1 LINK2/7/5 ] LINK-BANDWIDTH 10000000.000000
[ LINK2/2/1 LINK2/7/5 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK2/2/1 LINK2/7/5 ] LINK-DROP-PROBABILITY 0

#********************Network Protocol***********************************


#**************************** [Link] ***********************************

LINK N8-169.0.0.0 { 1, 2 } LINK-UUID LINK9
[ LINK9/1/2 LINK9/2/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK9/1/2 LINK9/2/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK9/1/2 LINK9/2/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK9/1/2 LINK9/2/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK9/1/2 LINK9/2/2 ] LINK-DROP-PROBABILITY 0

#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 2, 3 } LINK-UUID LINK10
[ LINK10/2/3 LINK10/3/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK10/2/3 LINK10/3/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK10/2/3 LINK10/3/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK10/2/3 LINK10/3/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK10/2/3 LINK10/3/2 ] LINK-DROP-PROBABILITY 0

#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 3, 4 } LINK-UUID LINK11
[ LINK11/3/3 LINK11/4/2 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK11/3/3 LINK11/4/2 ] LINK-PROPAGATION-DELAY 1MS
[ LINK11/3/3 LINK11/4/2 ] LINK-BANDWIDTH 10000000.000000
[ LINK11/3/3 LINK11/4/2 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK11/3/3 LINK11/4/2 ] LINK-DROP-PROBABILITY 0

#**************************** [Link] ***********************************

LINK N8-190.0.7.0 { 4, 5 } LINK-UUID LINK12
[ LINK12/4/3 LINK12/5/4 ] LINK-MAC-PROTOCOL ABSTRACT
[ LINK12/4/3 LINK12/5/4 ] LINK-PROPAGATION-DELAY 1MS
[ LINK12/4/3 LINK12/5/4 ] LINK-BANDWIDTH 10000000.000000
[ LINK12/4/3 LINK12/5/4 ] LINK-HEADER-SIZE-IN-BITS 224
[ LINK12/4/3 LINK12/5/4 ] LINK-DROP-PROBABILITY 0

#*************Interface Configuration***********************************

[1] NETWORK-PROTOCOL[0]       IP
[SUB2/1/0] IP-ADDRESS         190.0.1.7

[1] NETWORK-PROTOCOL[1]       IP
[LINK1/1/1] IP-ADDRESS        190.0.2.1

[LINK9/1/2] IP-ADDRESS        169.0.0.1

[2] NETWORK-PROTOCOL[1]       IP
[LINK2/2/1] IP-ADDRESS        190.0.2.7

[SUB2/2/0] IP-ADDRESS         190.0.1.12

[LINK9/2/2] IP-ADDRESS        169.0.0.2

[LINK10/2/3] IP-ADDRESS       190.0.5.1

[3] NETWORK-PROTOCOL[0]       IP
[SUB2/3/0] IP-ADDRESS         190.0.1.9

[3] NETWORK-PROTOCOL[1]       IP
[LINK3/3/1] IP-ADDRESS        190.0.2.3

[LINK10/3/2] IP-ADDRESS       190.0.5.2

[LINK11/3/3] IP-ADDRESS       190.0.6.1

[4] NETWORK-PROTOCOL[0]       IP
[SUB2/4/0] IP-ADDRESS         190.0.1.10

[4] NETWORK-PROTOCOL[1]       IP
[LINK4/4/1] IP-ADDRESS        190.0.2.4

[LINK11/4/2] IP-ADDRESS       190.0.6.2

[LINK12/4/3] IP-ADDRESS       190.0.7.1

[5] NETWORK-PROTOCOL[0]       IP
[SUB2/5/0] IP-ADDRESS         190.0.1.11

[5] NETWORK-PROTOCOL[1]       IP
[LINK5/5/1] IP-ADDRESS        190.0.2.5

[5] NETWORK-PROTOCOL[2]       IP
[LINK6/5/2] IP-ADDRESS        190.0.3.1

[5] NETWORK-PROTOCOL[3]       IP
[LINK8/5/3] IP-ADDRESS        190.0.4.2

[LINK12/5/4] IP-ADDRESS       190.0.7.2

[6] NETWORK-PROTOCOL[0]       IP
[LINK6/6/0] IP-ADDRESS        190.0.3.2

[8] NETWORK-PROTOCOL[0]       IP
[SUB2/8/0] IP-ADDRESS         190.0.1.1

[9] NETWORK-PROTOCOL[0]       IP
[SUB2/9/0] IP-ADDRESS         190.0.1.2

[10] NETWORK-PROTOCOL[0]      IP
[SUB2/10/0] IP-ADDRESS        190.0.1.3

[11] NETWORK-PROTOCOL[0]      IP
[SUB2/11/0] IP-ADDRESS        190.0.1.4

[12] NETWORK-PROTOCOL[0]      IP
[SUB2/12/0] IP-ADDRESS        190.0.1.5

[13] NETWORK-PROTOCOL[0]      IP
[SUB1/13/0] IP-ADDRESS        169.0.0.12

[14] NETWORK-PROTOCOL[0]      IP
[SUB1/14/0] IP-ADDRESS        169.0.0.13

[15] NETWORK-PROTOCOL[0]      IP
[SUB2/15/0] IP-ADDRESS        190.0.1.6

[15] NETWORK-PROTOCOL[1]      IP
[LINK7/15/1] IP-ADDRESS       190.0.2.6

[15] NETWORK-PROTOCOL[2]      IP
[LINK8/15/2] IP-ADDRESS       190.0.4.1

[LINK1/1/1 LINK3/3/1 LINK4/4/1 LINK5/5/1 LINK7/15/1 LINK3/7/0 LINK4/7/1 LINK5/7/2 LINK7/7/3 LINK1/7/4] LINK-PROPAGATION-DELAY  1MS
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[15]  23
[SUB2/15/0] MAC-NR-RA-PRACH-CONFIG-INDEX  14
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[3]  23
[SUB2/15/0] MAC-NR-RA-BACKOFF-TIME  10MS
[SUB2/15/0] MAC-NR-GNB-NS-V2X-BW-PERCENTAGE  0
[SUB2/15/0] MAC-NR-PF-UL-RB-ALLOCATION-UNIT  1
[SUB2/1/0 LINK1/1/1 SUB2/3/0 LINK3/3/1 SUB2/4/0 LINK4/4/1 SUB2/5/0 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB1/13/0 SUB1/14/0 SUB2/15/0 LINK7/15/1 LINK8/15/2] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  150000
[SUB2/1/0 LINK1/1/1 SUB2/3/0 LINK3/3/1 SUB2/4/0 LINK4/4/1 SUB2/5/0 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB1/13/0 SUB1/14/0 SUB2/15/0 LINK7/15/1 LINK8/15/2] IP-QUEUE-TYPE[2]  FIFO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-NON-SERVING-CELL-MEASUREMENT-PERIOD  200MS
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-RI-REPORTING-INTERVAL  10
[SUB2/15/0] PHY-NR-NUM-CARRIERS  1
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-SUPPORTED-FREQUENCY-BANDS  1
[SUB2/15/0] MAC-NR-RA-POWER-RAMPING-STEP  2
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] MAC-NR-STATION-TYPE  UE
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] NAS-NR-UE-ATTACH-TIMEOUT  15S
[SUB2/15/0] DUMMY-MAC-NR-GNB-NS-CONFIGURE-MU-MIMO  NO
[SUB2/15/0] RLC-NR-MAX-RETX-THRESHOLD  8
[SUB2/15/0] PHY-NR-NUM-ELEMENTS-IN-ANTENNA-ARRAY  1
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[1]  23
[SUB2/1/0 LINK1/1/1 SUB2/3/0 LINK3/3/1 SUB2/4/0 LINK4/4/1 SUB2/5/0 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB1/13/0 SUB1/14/0 SUB2/15/0 LINK7/15/1 LINK8/15/2] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  150000
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[4]  23
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[13]  23
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] MAC-PROTOCOL  MAC-NR
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] MAC-NR-SLICE-ID  eMBB
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-RI-REPORTING-OFFSET  1
[LINK1/1/1 LINK3/3/1 LINK4/4/1 LINK5/5/1 LINK7/15/1 LINK3/7/0 LINK4/7/1 LINK5/7/2 LINK7/7/3 LINK1/7/4] LINK-DROP-PROBABILITY  0
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[11]  23
[SUB2/15/0] PHY-NR-RA-DETECTION-THRESHOLD  -100
[SUB2/15/0] RRC-NR-MAX-NUM-UE  1000
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] DUMMY-SYSTEMVUE-INTERFACE  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-NR-RX-SENSITIVITY  -156
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] MAC-NR-ENABLE-NTN-MODE  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-CQI-REPORTING-OFFSET  0
[SUB2/15/0] MAC-NR-GNB-NS-EMBB-BW-PERCENTAGE  100
[SUB2/15/0] PHY-NR-UL-CHANNEL-INDEX  390000
[SUB2/15/0] PHY-NR-DL-CHANNEL-INDEX[0]  428000
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[5]  23
[SUB2/15/0] RLC-NR-POLL-BYTE  250
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] MAC-NR-ENABLE-WIFI-SWITCHOVER  NO
[SUB2/15/0] MAC-NR-GNB-NS-MIOT-BW-PERCENTAGE  0
[LINK1/1/1 LINK3/3/1 LINK4/4/1 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 LINK7/15/1 LINK8/15/2] IP-FRAGMENTATION-UNIT  2048
[SUB2/15/0] PHY-NR-CELL-SELECTION-RX-LEVEL-MIN  -140
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] RRC-NR-WAIT-RRC-CONNECTED-RECONF-TIME  10MS
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[7]  23
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] MAC-NR-UE-SCHEDULER-TYPE  SIMPLE-SCHEDULER
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] RRC-NR-T300-TIME  100MS
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] MAC-NR-NUM-SF-PER-TTI  1
[SUB2/1/0 LINK1/1/1 SUB2/3/0 LINK3/3/1 SUB2/4/0 LINK4/4/1 SUB2/5/0 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB1/13/0 SUB1/14/0 SUB2/15/0 LINK7/15/1 LINK8/15/2] IP-QUEUE-TYPE[0]  FIFO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-CQI-REPORTING-INTERVAL  10
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] MAC-NR-MODE  SA
[SUB2/15/0] PHY-NR-PUCCH-OVERHEAD  0
[SUB2/15/0] MAC-NR-GNB-NS-URLLC-ENABLE-CA  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[12]  23
[SUB2/15/0] MAC-NR-GNB-SCHEDULER-TYPE  ROUND-ROBIN
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-NR-PATHLOSS-FILTER-COEFFICIENT  40
[SUB2/15/0] MAC-NR-MAX-HARQ-TX  4
[SUB2/15/0] MAC-NR-RA-PREAMBLE-INITIAL-RECEIVED-TARGET-POWER  -90
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[6]  23
[SUB2/1/0 LINK1/1/1 SUB2/3/0 LINK3/3/1 SUB2/4/0 LINK4/4/1 SUB2/5/0 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB1/13/0 SUB1/14/0 SUB2/15/0 LINK7/15/1 LINK8/15/2] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  150000
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-NR-TX-POWER[0]  23
[SUB2/15/0] RLC-NR-POLL-PDU  16
[SUB2/15/0] RLC-NR-T-REORDERING  100MS
[SUB2/15/0] MAC-NR-RA-RESPONSE-WINDOW-SIZE  10
[SUB2/15/0] PHY-NR-CELL-SELECTION-QUAL-LEVEL-MIN  -19.5
[LINK1/1/1 LINK3/3/1 LINK4/4/1 LINK5/5/1 LINK7/15/1 LINK3/7/0 LINK4/7/1 LINK5/7/2 LINK7/7/3 LINK1/7/4] LINK-BANDWIDTH  10000000.000000
[SUB2/15/0] MAC-NR-RA-PREAMBLE-TRANS-MAX  4
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-RX-MODEL  PHY-NR
[SUB2/15/0] MAC-NR-STATION-TYPE  gNB
[SUB2/1/0 LINK1/1/1 SUB2/3/0 LINK3/3/1 SUB2/4/0 LINK4/4/1 SUB2/5/0 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB1/13/0 SUB1/14/0 SUB2/15/0 LINK7/15/1 LINK8/15/2] IP-QUEUE-TYPE[1]  FIFO
[SUB2/15/0] MAC-NR-TRANSMISSION-MODE  1
[SUB2/15/0] MAC-NR-GNB-NS-V2X-ENABLE-CA  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-SRS-TRANSMISSION-OFFSET  0
[SUB2/15/0] MAC-NR-GNB-NS-URLLC-BW-PERCENTAGE  0
[LINK1/1/1 LINK3/3/1 LINK4/4/1 LINK5/5/1 LINK6/5/2 LINK8/5/3 LINK6/6/0 LINK7/15/1 LINK8/15/2 LINK3/7/0 LINK4/7/1 LINK5/7/2 LINK7/7/3 LINK1/7/4] LINK-MAC-PROTOCOL  ABSTRACT
[SUB2/15/0] PHY-NR-TPC-P_O_PUSCH  -90
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-NR-USE-CUSTOM-FREQ-BANDWIDTH  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[9]  23
[SUB2/15/0] RLC-NR-T-STATUS-PROHIBIT  12MS
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-MODEL  PHY-NR
[SUB2/15/0] PHY-NR-TPC-ALPHA  1
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-NR-NUM-RX-RADIO-CHAINS  1
[SUB2/15/0] PHY-NR-ENABLE-DA-BEAMFORMING  NO
[SUB2/15/0] MAC-NR-NUMEROLOGY  0
[SUB2/15/0] PHY-NR-SSB-NUMEROLOGY  0
[SUB2/15/0] DUMMY-NR-GNB-IS-DU  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[14]  23
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] RRC-NR-WAIT-RRC-CONNECTED-TIME  100MS
[SUB2/15/0] MAC-NR-GNB-NS-EMBB-ENABLE-CA  YES
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-SRS-TRANSMISSION-INTERVAL  10
[SUB2/15/0] PHY-NR-CELL-SELECTION-RX-LEVEL-MIN-OFFSET  0
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[8]  23
[SUB2/15/0] MAC-NR-PERIODIC-BSR-TTI  1
[SUB2/15/0] PHY-NR-CELL-SELECTION-QUAL-LEVEL-MIN-OFFSET  0
[SUB2/15/0] MAC-NR-GNB-NS-MIOT-ENABLE-CA  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-SS-RSRQ-THRESHOLD  -43
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[2]  23
[SUB2/15/0] PHY-NR-CHANNEL-BANDWIDTH[0]  10000000
[SUB2/15/0] MAC-NR-DUPLEX-MODE  FDD
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-CELL-SELECTION-MIN-SERVING-DURATION  1S
[SUB2/15/0] PHY-NR-SSB-RB-OFFSET  1
[SUB2/15/0] RRC-NR-MEAS-FILTER-COEFFICIENT  40
[SUB2/15/0] MAC-NR-GNB-NS-BW-ALLOCATION-MODE  STATIC
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-TX-POWER[10]  23
[SUB2/15/0] PHY-NR-CA-UPLINK  NO
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-NR-NUM-TX-RADIO-CHAINS  1
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/15/0] PHY-NR-INTERFERENCE-FILTER-COEFFICIENT  40
[SUB2/15/0] MAC-NR-PF-FILTER-COEFFICIENT  36
[SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0] PHY-NR-SS-SINR-THRESHOLD  -23
[SUB2/15/0] RLC-NR-T-POLL-RETRANSMIT  100MS
[LINK1/1/1 LINK3/3/1 LINK4/4/1 LINK5/5/1 LINK7/15/1 LINK3/7/0 LINK4/7/1 LINK5/7/2 LINK7/7/3 LINK1/7/4] LINK-HEADER-SIZE-IN-BITS  224


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1]             HOSTNAME 5G-AMF1
[2]             HOSTNAME 5G-AUSF2
[3]             HOSTNAME 5G-UDM3
[4]             HOSTNAME 5G-SMF4
[5]             HOSTNAME 5G-UPF5
[6]             HOSTNAME 5G-DN6
[8]             HOSTNAME 5G-UE8
[9]             HOSTNAME 5G-UE9
[10]            HOSTNAME 5G-UE10
[11]            HOSTNAME 5G-UE11
[12]            HOSTNAME 5G-UE12
[13]            HOSTNAME host13
[14]            HOSTNAME host14
[15]            HOSTNAME 5G-gNB15
[1]             GUI-NODE-2D-ICON C:/Program Files/Scalable/exata/8.1.3.0/gui/icons/5G-AMF.png
[2]             GUI-NODE-2D-ICON C:/Program Files/Scalable/exata/8.1.3.0/gui/icons/5G-AUSF.png
[3]             GUI-NODE-2D-ICON 5G-UDM.png
[4]             GUI-NODE-2D-ICON 5G-SMF.png
[5]             GUI-NODE-2D-ICON 5G-UPF.png
[6]             GUI-NODE-2D-ICON 5G-DN.png
[8 thru 12]     GUI-NODE-2D-ICON 5G-UE_1.png
[15]            GUI-NODE-2D-ICON 5G-gNB.png
[15]            5GC-GNB-NS-USE-COMMON-F1-INTERFACE-DELAY YES
[1 thru 6]      NODE-PLACEMENT FILE
[8 thru 15]     NODE-PLACEMENT FILE
[1]             5GC-ENTITY-TYPE AMF
[2]             5GC-ENTITY-TYPE AUSF
[3]             5GC-ENTITY-TYPE UDM
[4]             5GC-ENTITY-TYPE SMF
[5]             5GC-ENTITY-TYPE UPF
[15]            5GC-ENTITY-TYPE gNB
[15]            5GC-GNB-NS-USE-COMMON-UPF YES
[1]             GNB-COUNT 1
[5]             GNB-COUNT 1
[1]             5GC-AMF-NS-USE-COMMON-SMF YES
[1 2]           GUI-NODE-3D-ICON C:/Program Files/Scalable/exata/8.1.3.0/gui/icons/3Dmodels/server_blue.3ds
[3 thru 5]      GUI-NODE-3D-ICON server_blue_1.3ds
[6]             GUI-NODE-3D-ICON cloud_blue.3ds
[8 thru 12]     GUI-NODE-3D-ICON smartphone_blue_1.3ds
[15]            GUI-NODE-3D-ICON tower_blue.3ds
[1]             IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[3 thru 6]      IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[8 thru 15]     IP-LOOPBACK-ADDRESS[0] 127.0.0.1
[15]            5GC-GNB-NS-F1-INTERFACE-DELAY 0MS
[7]             HOSTNAME host7
[7]             SWITCH-PORT-MAP[3] LINK3/7/0
[7]             SWITCH YES
[7]             SWITCH-PORT-MAP[6] LINK7/7/3
[7]             SWITCH-PORT-MAP[1] LINK1/7/4
[7]             SWITCH-PORT-MAP[5] LINK5/7/2
[7]             SWITCH-PORT-MAP[4] LINK4/7/1
[7]             NODE-PLACEMENT FILE
[7]             SWITCH-PORT-MAP[2] LINK2/7/5
NODE-POSITION-FILE test2.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE test2.display

